:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 60ch;
  --color-dark: #050505;
  --color-mid: grey;
  --color-light: #fafafa;

  /* System Font Stack: https://systemfontstack.com/ */
  --font-sans-serif: -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  --font-serif: Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  --font-mono: Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  max-inline-size: var(--measure);
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body,
div,
footer,
header,
html,
main,
nav {
  max-inline-size: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-serif);
  font-size: calc(var(--s0) + 0.5vw);
  line-height: 1.7;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3 {
  font-family: var(--font-sans-serif);
  font-weight: 800;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--s2);
}

h2 {
  font-size: var(--s1);
}

h3 {
  font-size: var(--s0);
}

table {
  /* NOTE(toby3d): mono font for tables and dynamic data, see:
    https://www.youtube.com/watch?v=2PC5L3tv6fA */
  font-family: var(--font-mono);
  border-spacing: 0 1em;
}

tr>td {
  color: var(--color-mid);
}

footer {
  font-size: var(--s1);
  margin: auto;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.1ex;
  text-underline-offset: 0.3ex;
}

/* Stack Layout */
.stack {
  --_space: var(--space, var(--s0));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack>* {
  margin-block: 0;
}

.stack>*+* {
  margin-block-start: var(--_space);
}

/* Center Layout */
.center {
  --_gutters: var(--gutters, );
  --_max: var(--max, var(--measure));
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--_max);
  padding-inline-end: var(--_gutters);
  padding-inline-start: var(--_gutters);
}

/* Frame Layout */
.frame {
  align-items: center;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.frame>* {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

/* Utilities */
.text-align\:left {
  text-align: left;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p {
  font-size: var(--s0);
}

.last-update {
  font-size: var(--s0);
  text-align: right;
}